flask==2.0.1
flask-socketio==5.1.1
opencv-python==4.5.3.56
mediapipe==0.10.8
numpy==1.21.2
scikit-learn==0.24.2
sqlalchemy==1.4.23
python-engineio==4.2.1
python-socketio==5.4.0
eventlet==0.33.0
ultralytics 